/* card-section */

.card {
    color: black;
    border-radius: 30px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    transition: border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 20px;
    margin: 10px;
    width: auto;
    height: auto;
    max-width: 450px;
}

p.card-text{
    font-size: 14px;
}

p.card-text b{
    font-weight: 600;
}

p.card-text.hashtag {
    color: #29B875;
    font-size: 12px !important;
}

h2.card-title {
    font-size: 34px;
}

.col-12.col-md-6.col-lg-4.card-columns {
    padding-left: 0px;
    padding-right: 0px;
}

.col-12.col-md-12.col-lg-4.card-columns {
    padding-left: 0px;
    padding-right: 0px;
}

.card-body {
    padding: 0;
}

div#col-1 {
    padding-left: 30px;
}

div#col-3 {
    padding-right: 30px;
}

/* Overall Review */

.ind-stars {
    padding-top: 50px;
}

.overall-stars {
    padding-top: 30px;
}

section.overall-section {
    padding-left: 20%;
}

/* Common */

h1{
    color: #28353A;
    font-size: 59px;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
}

h2{
    font-size: 17px;
}

button#cons-button {
    margin-bottom: 36px;
}

.pt-40 {
    padding-top: 40px;
}

.pt-20{
    padding-top: 20px;
}

.pb-20{
    padding-bottom: 20px;
}

.pl-0{
    padding-left: 0px;
}

.pr-30{
    padding-right: 30px;
}

@media (max-width: 991px) {
    .col-lg-6.pt-md-20{
        padding-top: 20px;
    }

    .review-section{
        padding-left: 10px;
        padding-right: 10px;
    }

    .col-lg-6.d-flex.justify-content-end.align-items-center.pl-280 {
        padding-left: 0px;
        justify-content: center !important;
        align-items: center !important;
        text-align: center;
    }

    .col-lg-6.text-end.pr-280 {
        padding-right: 0px;
    }

    .card-columns {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }

    div#col-1{
        padding-right: 0px !important;
    }

    div#col-2{
        padding-left: 0px !important;
    }

    .card {
        max-width: unset;
    }

    .container.d-flex.justify-content-center.align-items-center.pt-20.text-center {
        padding-right: 30px;
        padding-left: 30px;
    }

    h1{
        font-size: 44px;
    }

    .pr-30{
        padding-right: 0px;
    }
}


@media (max-width: 767px){
    h1{
        font-size: 40px;
    }

    h2.card-title{
        font-size: 26px;
    }

    p.card-text b{
        font-size: 16px;
    }

    .col-12.col-md-6.col-lg-6.d-flex.justify-content-center.align-items-center.text-end {
        padding-top: 20px;
    }

    section.review-section{
        padding-top: 0px;
    }

    section.overall-section {
        padding-left: 0px;
    }

    div#col-1{
        padding-right: 15px !important;
    }

    div#col-2{
        padding-left: 15px !important;
    }
}